<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">


  <style>
  header {
    font-size:2em;
    text-align: center;
    margin: 50px auto 50px auto;
  }
  </style>
</head>
<body>
  <div class="container">
    <header class="row">
      TechTests Profile
    </header>
    <main>
      <div class="row">Hello, <%= username %>!</div>
      <div class="row">You have <%= access %> access rights.</div>
    </main>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    </div>
</body>
</html>
